@model IEnumerable<FindYourMakeUp.Web.ViewModels.Home.IndexProductsViewModel>
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script>
        $(function () {
            $('.slider img:gt(0)').hide();
            setInterval(function () {
                $('.slider :first-child').hide();
                $('.slider :first-child').next('img').fadeIn(3000)
                    .end().appendTo('.slider');
            },
                        10000);
        });
    </script>

    <script>
        $('#state').change(function (e) {
            e.preventDefault();
            var url = '@Url.Action("GetSubCategoriesNames", "Home")';
            var categoryId = $('#state option:selected').val();
            $.post(url, { categoryId: categoryId }, function (data) {
                var items = [];
                items.push("<option>–Choose–</option>");
                $.each(data, function () {
                    items.push("<option value=" + this.Name + ">" + this.Name + "</option>");
                });
                $("#city").html(items.join(' '));
            });
        });
    </script>
}




@Html.Partial("_SliderPartial")

<h1 class="text-center text-primary" >Most voted products</h1>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1>
                            <a href="~/Products/Details/@item.Id">
                                <strong>@item.Name</strong>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="panel-body row" style="height: 250px">
                    <div class="col-md-3">
                        <a href="~/Products/Details/@item.Id">@Html.DisplayFor(x => item.ImageUrl)</a>
                    </div>
                    <div class="col-md-9">
                        <blockquote>
                                @(item.Description.Length > 100 ? item.Description.Substring(0,99) + "..." : item.Description)
                            <p><small> @item.ManufacturerName</small> </p>
                        </blockquote>
                        <strong>   @item.ReviewsCount reviews</strong>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

