@model FindYourMakeUp.Web.ViewModels.Products.ProductListViewModel
@{
    ViewBag.Title = "Details";
}
@Html.ValidationSummary("", new {@class="text-danger"});
<div class="row">
    <div class="col-md-5">
        <h2>@Model.Name</h2>
        <h4>@Model.ManufacturerName</h4>
    </div>
    <div class="col-md-5">
        <h1 class="pull-right">

            <span class="alert @(( Model.Rating > 4.5 ? "alert-success": (Model.Rating<0)? "alert-danger" : "alert-info"))">
                Rating: @Model.Rating
            </span>
        </h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-5">@Model.Description</div>
        </div>
    </div>
</div>
<div id="reviews">
    @if (Model.Reviews.Count() > 0)
    {
        Html.RenderPartial("~/Views/Reviews/_ListReviews.cshtml", Model.Reviews);
    }
    else
    {
        <div> There is no reviews for this product yet.</div>
    }

    <div id="create-review" class="row">
        <div class="text-center">
            @Ajax.ActionLink("Create review for this product", "Create", "Reviews", new { id = Model.Id },
                                                                    new AjaxOptions
                                                                    {
                                                                        HttpMethod = "GET",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "reviews"
                                                                    }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
@*@section scripts
{
    <script>
        var onSuccess = function (result) {
            debugger;
            if (result.url) {
                // if the server returned a JSON object containing an url
                // property we redirect the browser to that url
                window.location.href = result.url;
            }
        }
    </script>
}*@